.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/database/testing.sqlite
/.vscode
/.zed
/bootstrap/ssr
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
auth.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/.cursor/
AGENTS.md
boost.json
CLAUDE.md
CLAUDE.local.md
GEMINI.md
.cursorrules
.cursorrules.md
/.github/copilot-instructions.md
